*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}

.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 50px;
    padding-top: 40px;
    margin: auto;
}

.sidebar{
    height: 100vh;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
    position: sticky;
    top: 40px;
}

.main-content{
   
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
}


.profile{
    text-align: center;
}


.profile img{
    height: 120px;
    width: 115px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
}

.profile h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;
}

.profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: #ffbf00;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}

.contact{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
}

.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}

.value{
    color: #e0e0e0;
    text-decoration: none;
}

.email,.phone{
    margin-bottom: 15px;
}

.social{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
    text-align: center;
}

.social img{
    height: 24px;
    width: 24px;
    margin-left: 5px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.3s ease;
}
.social img:hover{
    filter: grayscale(0) invert(0);
}

#navigation{
    padding: 30px 40px;
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 20px;
} 

nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

nav a{
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 500;
    transition: color 0.3s ease;
   
}

.active, nav a:hover{
    color: #ffbf00;
}

.heading{
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
}

.line{
    width: 60px;
    height: 5px;
    background-color: #ffbf00;
    margin-bottom: 15px;
}

.content{
    text-align: justify;
    color: #a0a0a0;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(120px,1fr));
    gap: 40px;
}

.item{
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    transition: transform 0.3s ease, boxshadow 0.3s ease;
}

.item img{
    height: 48px;
    width: 48px;
}

.item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 00.3);
}

#education{
    margin-top: 30px;
}

.edtech{
    position: relative;
    margin-top: 20px;
}

.year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}
.degree{
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.college{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 10px;
}
.work{
    color: #a0a0a0;
}
.edfirst, .edsecond{
    margin-bottom: 30px;
    padding: 25px;
    position: relative;
}

.goal{
    height: 15px;
    width: 15px;
    border: 3px solid #ffbf00;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 0px;
    z-index: 5;
}
.liner{
    position: absolute;
    width: 2px;
    top: 0px;
    bottom: 0px;
    border: 2px solid #3a3a3a;

}

.project-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.project{
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
    transition: transform 0.5s ease, box-shadow 0.5 ease;

}

.project:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}
.project img{
    height: 150px;
    width: 100%;
    object-fit: cover;
}
.card{
    padding: 20px;
}
.card h3{
    color: #e0e0e0;
    margin-bottom: 10px;
}
.card p{
    color: #a0a0a0;
    line-height: 1.6;
}
.card span{
    background-color: rgba(255, 191, 0, 0.1);
    color: #ffbf00;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;
}


@media screen and (max-width:1200px) {
    .main-container{
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .sidebar{
        position: static;
        height: auto;
    }
    
}